<%- contentFor( 'body') %>

<div>
    <p>Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
    <p>A aplicação registra o cadastro dos usuários e permite a remoção ou alteração dos já registrados. Na lista de cadastros pode-se encontrar as informações sobre a altura, idade, email e se o usuário é ou não votante. </p>
   
</div>